/* * is called universal selector  */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  font-family: "Inter", sans-serif;
}
body {
  width: 1600px;
}
/* Start header section style */
header {
  height: 600px;
  width: 1320px;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../My-first-assignment/Picture/Banner\ Image.png");
  background-repeat: no-repeat;
  margin-top: 50px;
  margin-right: 140px;
  margin-left: 140px;
  border-radius: 16px;
}
.new-year-content {
  text-align: center;
  padding-top: 35px;
  height: auto;
}
.new-year-title {
  font-size: 32px;
  font-weight: 400;
  color: #fff;
  font-family: Merriweather;
}
.new-year-function {
  width: 632px;
  font-size: 72px;
  font-weight: 900;
  color: #fff;
  font-family: Merriweather;
}
.header-section {
  text-align: center;
  justify-content: center;
  padding-top: 189px;
}
/* End header section style */

/* Start main section style */
.category-container {
  margin-top: 120px;
  width: 650px;
  justify-content: center;
}
.category-content {
  text-align: center;
  font-family: inter;
  width: 400px;
}
.category-content > h1 {
  font-size: 72px;
  color: #f00;
  font-weight: 700;
  padding-bottom: 46px;
}
.category-content > h6 {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 8px;
}
.category-content > h2 {
  color: #070211;
  font-size: 42px;
  font-weight: 700;
}
.category-img {
  padding-top: 45px;
}
.welcoming-section {
  margin-top: 120px;
}
.welcome-banner {
  width: 1320px;
  height: 600px;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../My-first-assignment/Picture/Vectorrr.png");
  background-repeat: no-repeat;
  border-radius: 16px;
}
.welcome-banner > h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  font-family: Merriweather;
  letter-spacing: 7.04px;
  padding: 124px 0px 24px 124px;
}
.welcome-banner > p {
  color: rgba(255, 255, 255, 0.8);
  padding: 0px 0px 24px 124px;
  font-weight: 400px;
  font-size: 18px;
  line-height: 30px;
  font-family: inter;
}
.btn {
  margin-top: 15px;
  margin-left: 158px;
  text-align: center;
  font-family: inter;
  font-size: 30px;
  font-weight: 700;
  border: 0px;
  border-radius: 7px;
  text-transform: uppercase;
  color: #fff;
  background: #0000006d;
  height: 90px;
  width: 200px;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  position: relative;
  transition: background-color 0.6s ease;
  overflow: hidden;
}
.welcome-banner > .btn:hover {
  background: #1a02ef;
  border-radius: 7px;
}
.l-btn:hover {
  background: #1a02ef;
  border-radius: 7px;
}
.location-section {
  margin-top: 120px;
}
.location-content {
  width: 1320px;
  height: 500px;
  border-radius: 16px;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
}
.location {
  padding-top: 100px;
}
span {
  font-size: 32px;
  color: #f00;
  font-family: inter;
  font-weight: 600;
  line-height: 56px;
}
.location > h3 {
  font-size: 32px;
  font-family: inter;
  font-weight: 600px;
  line-height: 56px;
  color: #070211;
}
.l-btn {
  margin-top: 48px;
  color: #fff;
  background: #f00;
  transition: background-color 0.6s ease;
  text-align: center;
  border: 0px;
  border-radius: 7px;
  text-transform: uppercase;
  font-family: inter;
  font-size: 30px;
  font-weight: 700;
  height: 90px;
  width: 200px;
}
.offers {
  margin-top: 120px;
}
.offer-content {
  width: 1320px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 75px;
  border-radius: 16px;
}
.new-offer > h3 {
  color: #f00;
  font-family: inter;
  font-weight: 500;
  font-size: 24px;
}
.new-offer > h1 {
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  color: #070211;
  margin-top: 25px;
  padding-bottom: 22px;
  
}
.new-offer > p {
  color: rgba(7, 2, 17, 0.6);
  font-family: inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}.offer-img{
  padding: 40.5px;
  border-radius: 463px;
  border: 15px solid #f00;
}.exclusive-offer{
  padding-top: 25px;
}
.exclusive-offer > p {
  color: rgba(7, 2, 17, 0.6);
  font-family: inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 8px;
}.exclusive-offer>h3{
  color: #f00;
  font-size: 48px;
  font-weight: 700;
  font-family: inter;
}.exclusive-offer>img{
  width: 140px;
  height: 140px;
  padding-top: 33px;
}
